<!DOCTYPE HTML>
<html>
<head>
    <title>SEIR モデル シミュレータ</title>
    <link href="./js/c3.css" rel="stylesheet">
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="./js/c3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>SEIR モデル シミュレータ</h1>
    <div id="stage"></div>
    <div id="app">
        <div>初期無免疫者 S: <input v-model="Sinit" type="number"/></div>
        <div>初期感染者 I: <input v-model="Iinit" type="number"/></div>
        <div>基本再生産数 R0: <input v-model="R0" type="number"/></div>
        <div>感染率 beta: <input v-model="beta" /></div>
        <div>潜伏期間 lp: <input v-model="lp" type="number"/></div>
        <div>発症期間 ip: <input v-model="ip" type="number"/></div>
        <div>検査後隔離 T: <input v-model.number="T" type="number"/>
            <button type="button" v-on:click="clickTmuins">- 0.01</button>
            <button type="button" v-on:click="clickTplus">+ 0.01</button>
        </div>
        <div><button type="button"  v-on:click='clickCalc' class="btn">再計算</button></div>
    </div>

    <div>
        <h2>使い方</h2>
        <ul>
            <li>初期免疫者(S)と初期感染者(I)を入力して「再計算」する</li>
            <li>基本再生産数 R0 を 1.4から2.5に変化させてシミュレーションする</li>
        </ul>
        <h2>考察</h2>
        <ul>
            <li>基本再生産数(R0)を1以下にすると、発症者数(Infected)のピークを右にずらすことができる</li>
            <li>発症者数(Infected)に対して検査(T:0.0～1.0)を行い隔離(免疫者扱いにする）。</li>
            <li>このシミュレーションでは、全員検査(1.0)をしなくても、2割程度で発症者のピークを抑えられる。</li>
        </ul>
    </div>
</body>
<script>
function seir_eq(v,t,beta,lp,ip) {

    b = beta 
    ds = -b*v[0]*v[2]               // dS/dt = -βSI
    de = b*v[0]*v[2]-(1/lp)*v[1]    // dE/dt = βSI-E/lp
    di = (1/lp)*v[1]-(1/ip)*v[2]    // dI/dt = E/lp - I/ip
    dr = (1/ip)*v[2]                // dR/dt = I/ip 

    return [ds,de,di,dr];
}

var Sinit  = 100000  // 無免疫者（総数）
var Einit  = 0       // 潜伏期間
var Iinit  = 1       // 発病者
var Rinit  = 0       // 有免疫


var R0 = 1.4        // 基本再生産数
//var beta = Iinit * R0 / Sinit   // 感染率 = (初期感染者*R0)/総数
var lp = 14         // 潜伏期間
var ip = 7          // 発症期間
var T  = 0.0        // 検査で隔離
var beta = R0 / ip  // 感染率 = R0 / 発症期間

var lst = [] ;

function calc() {
    var t_max = 100 ;
    var dt = 1 ;
    var state=[Sinit,Einit,Iinit,Rinit]
    lst = []

    console.log( state );

    for ( var i=0; i<t_max; i++ ) {

        var d =  seir_eq( state, i, beta, lp, ip )
        var Si = state[0]+d[0]
        var Ei = state[1]+d[1]
        var Ii = state[2]+d[2]
        var Ri = state[3]+d[3]
        // 感染者を発見して隔離する
        dx = Ii * T
        Ii = Ii - dx
        Ri = Ri + dx // 免疫者に加算

        // マイナス値を調節する
        if ( Si < 0 ) {
            Ei = Ei + Si; Si = 0;
        }
        if ( Ei < 0 ) {
            Ii = Ii + Ei; Ei = 0;
        }
        if ( Ii < 0 ) {
            Ri = Ri + Ii; Ii = 0;
        }

        state = [ Si, Ei, Ii, Ri ]
        // console.log( state );
        lst.push( state );
    }
}


</script>

<script>

var chart ;
function dispChart() {
    var lst_s = ['Susceptible'] ;
    var lst_e = ['Exposed'] ;
    var lst_i = ['Infected'] ;
    var lst_r = ['Recovered'] ;

    for ( var i=0; i<lst.length; i++ ) {
        lst_s.push(lst[i][0] );
        lst_e.push(lst[i][1] );
        lst_i.push(lst[i][2] );
        lst_r.push(lst[i][3] );
    }
    if ( chart == null ) {
        chart = c3.generate({
        bindto: '#stage',
        data: {
            columns: [ lst_s, lst_e, lst_i, lst_r ]
        }});
    } else {
        chart.load({
                columns: [
                    lst_s,
                    lst_e,
                    lst_i,
                    lst_r,
                ]});
    }
}
</script>

<script>
var vm = new Vue({
    el: '#app',
    data: {
        Sinit: Sinit,
        Iinit: Iinit,
        beta: beta,
        R0: R0,
        lp: lp,
        ip: ip,
        T: T,
    },

    mounted: function() {
        calc();
        dispChart();
    },
    methods: {
        clickCalc: function() {
            Sinit = Number(this.Sinit) ;
            Iinit = Number(this.Iinit) ;
            Einit = 0
            Rinit = 0
            R0 = Number(this.R0) ;
            lp = Number(this.lp) ;
            ip = Number(this.ip) ;
            T = Number(this.T);
            beta = this.beta = this.Iinit * this.R0 / this.Sinit
console.log("R0: " + R0 );
console.log("beta: " + beta );
console.log("lp: " + lp );
console.log("ip: " + ip );
console.log("T: " + T );

            calc();
            dispChart();
        },
        clickTmuins: function() {
            if ( 0.0 < this.T ) {
                this.T = Math.floor((this.T - 0.011)*100)/100.0;
                this.clickCalc();
            }
        },
        clickTplus: function() {
            if ( this.T  < 1.0 ) {
                this.T = Math.floor((this.T + 0.011)*100)/100.0;
                console.log( this.T );
                this.clickCalc();
            }
        }
    },
    
})

</script>
</html>